name: Generate Profile Summary Cards

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: piyush295
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
